:host {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  .menu {
    &-header{

    }

    &-categories {

    }

    &-items {
      padding: 12px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
}
