:host {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  background: #9ec557;
  width: 100%;
  position: fixed;
  z-index: 300;

  .header-logo {
    padding: 4px;
    font-family: "Arial";
    font-weight: 600;
    font-size: 30px;
    color: white;
  }
}
